<div class="">
  <h1>New extraHabitacion</h1>

  <div class="body">
    <form class="" action="/extraHabitacion/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">id_extra_habitacion</label>
          <input type="number" name="id_extra_habitacion" value="<%= element.id_extra_habitacion %>" required="false">
        </div>
        <div class="">
          <label for="">jacuzzi</label>
          <input type="checkbox" name="jacuzzi" value="<%= element.jacuzzi %>" required="true">
        </div>
        <div class="">
          <label for="">vista_al_mar</label>
          <input type="checkbox" name="vista_al_mar" value="<%= element.vista_al_mar %>" required="true">
        </div>
        <div class="">
          <label for="">costo_extra</label>
          <input type="number" name="costo_extra" value="<%= element.costo_extra %>" required="false">
        </div>
      <button type="submit">Update extraHabitacion</button>
    </form>
    <br />
    <a href="/extraHabitacion">Index</a>
  </div>
</div>