<h1>Show extraHabitacion</h1>

	<p>
		<strong>id_extra_habitacion:</strong>
		<%= element.id_extra_habitacion %>
	</p>
	<p>
		<strong>jacuzzi:</strong>
		<%= element.jacuzzi %>
	</p>
	<p>
		<strong>vista_al_mar:</strong>
		<%= element.vista_al_mar %>
	</p>
	<p>
		<strong>costo_extra:</strong>
		<%= element.costo_extra %>
	</p>

<br>
<a href="/extraHabitacion/edit/<%= element.id %>">Edit</a>
<a href="/extraHabitacion/create">New</a>
<a href="/extraHabitacion">Back</a>
