<h1>perfil</h1>


<% if (result.length == 0) { %>
  <h4>
    0 perfil
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>id_perfil</th>
			<th>id_menu</th>
			<th>desc_perfil</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.id_perfil %>
					</td>
					<td>
						<%= item.id_menu %>
					</td>
					<td>
						<%= item.desc_perfil %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/perfil/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/perfil/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/perfil/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/perfil/create">New</a>