
        <div class="container">
            <div class="row ">

                <div class="col-sm-4"></div>

                <div class="col-sm-4 opaque1">
                    <form action="/Auth/login" method="post">
                        <h1>Login</h1>
                        <div class="form-group">
                            <label>Correo</label>
                            <input type="email" class="form-control" placeholder="Ingrese su Correo" name="correo">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Ingrese su Password" name="password">
                        </div>
                        <button type="submit" class="btn btn-block btn-success">Entrar</button>
                        <br>
                        
                        <% if (typeof fecha_inicio  != 'undefined') { %>
        < input type = "hidden"
        name = "fecha_inicio"
        value = "<%= fecha_inicio %>" >
            < input type = "hidden"
        name = "fecha_fin"
        value = "<%= fecha_fin %>" >
            < input type = "hidden"
        name = "id_cliente"
        value = "<%= session.credencialSegura %>" >
            < input type = "hidden"
        name = "id_hab"
        value = "<%= id_hab %>" >
            < input type = "hidden"
        name = "nombre_huesped"
        value = "<%= nombre_huesped %>" >
            < input type = "hidden"
        name = "costo_total"
        value = "<%= costo_total %>" >
            < input type = "hidden"
        name = "total_dias"
        value = "<%= total_dias %>" >
    <% } %>
                        
                        
                    </form>
                </div>

                <div class="col-sm-4"></div>

            </div>
        </div>