<div class="container opaque1">
    <h2>Resultados:</h2>
    <br/>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-lg">Reservar</button>
    </div>
    <form action="#">
        <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="opaque1">
                    <th>Piso</th>
                    <th>Jacuzzi</th>
                    <th>Vista al mar</th>
                    <th>Tipo</th>
                    <th>Habitacion</th>
                    <th>Precio</th>
                    <th>Reservar</th>
                </thead>
                <tbody class="opaque1">
                    <%habitaciones.forEach((habitacion, i) => {%>
                        <tr>
                            <td>
                                <%=habitacion.numero_piso%>
                            </td>
                            <td>
                                <%=habitacion.jacuzzi%>
                            </td>
                            <td>
                                <%=habitacion.vista_mar%>
                            </td>
                            <td>
                                <%=habitacion.tipo%>
                            </td>
                            <td>

                                <% if (habitacion.jacuzzi) { %>
                                    <% var s="roomjacuzzi"%>
                                        <% } else if (habitacion.vista_mar) { %>
                                            <% if (habitacion.tipo == 'Simple') { %>
                                                <% var s="roomindividualmar" %>
                                                    <% } else { %>
                                                        <% var s="roomdoblemar" %>
                                                            <% } %>
                                                                <% } else{ %>
                                                                    <% if (habitacion.simple == 'Simple') { %>
                                                                        <% var s="roomindvidual" %>
                                                                            <% } else { %>
                                                                                <% var s="roomdoble" %>
                                                                                    <% } %>

                                                                                        <% } %>
                                                                                            <img data-toggle="modal" data-target="#myModal<%= i %>" src="/imagenes/<%= s %>.jpg" alt="<%= s %>" height="100">
                                                                                            <div id="myModal<%= i %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                                                <div class="modal-dialog">
                                                                                                    <div class="modal-content">
                                                                                                        <div class="modal-body">
                                                                                                            <img src="/imagenes/<%= s %>.jpg" class="img-responsive">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>




                            </td>
                            <td>
                                <%=habitacion.precio%>
                            </td>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="<%=i%>">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <%})%>

                </tbody>
            </table>
        </div>
    </form>
    <br/>
</div>
