
<div class="container opaque1">
<h2>Prince of Persia Palace</h2>

<div class="jumbotron" style="color:black">
  <h1> Resumen Reserva </h1>
  <h3>Poner un mensaje para que revisen si es lo que en verdad quieren </h3>
  <h3>Detalles</h3>
  <pre>
      <div class="row">
  <div class="col-sm-6">Número de Huéspedes:</div>
  <div class="col-sm-6"><%= result.num_huespedes%></div>
  </div>
  <div class="row">
  <div class="col-sm-6">Fecha de entrada:</div>
  <div class="col-sm-6"><%= result.fecha_inicio%></div>
  </div>
  
  <div class="row">
  <div class="col-sm-6">Fecha de salida:</div>
  <div class="col-sm-6"><%= result.fecha_fin%></div>
  </div>
  <div class="row">
  <div class="col-sm-6">Desayuno:</div>
  <div class="col-sm-6"><%= result.desayuno%></div>
  </div>
  <div class="row">
  <div class="col-sm-6">Habitaciones:</div>
  <div class="col-sm-6"><%= result.num_habitaciones%></div>
  </div>
  </pre>
  <p><a class="btn btn-success btn-lg" href="<%= result.url %>" role="button">Iniciar Sesión</a></p>
</div>
</div>