<h1>reHabitacion</h1>


<% if (result.length == 0) { %>
  <h4>
    0 reHabitacion
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>fecha_reserva_habitacion</th>
			<th>id_habitacion</th>
			<th>id_reserva</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.fecha_reserva_habitacion %>
					</td>
					<td>
						<%= item.id_habitacion %>
					</td>
					<td>
						<%= item.id_reserva %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/reHabitacion/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/reHabitacion/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/reHabitacion/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/reHabitacion/create">New</a>