<div class="">
  <h1>New habitacion</h1>

  <div class="body">
    <form class="" action="/habitacion/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">id_habitacion</label>
          <input type="number" name="id_habitacion" value="<%= element.id_habitacion %>" required="false">
        </div>
        <div class="">
          <label for="">disponibilidad</label>
          <input type="checkbox" name="disponibilidad" value="<%= element.disponibilidad %>" required="false">
        </div>
        <div class="">
          <label for="">numero_piso</label>
          <input type="number" name="numero_piso" value="<%= element.numero_piso %>" required="false">
        </div>
        <div class="">
          <label for="">jacuzzi</label>
          <input type="checkbox" name="jacuzzi" value="<%= element.jacuzzi %>" required="true">
        </div>
        <div class="">
          <label for="">vista_mar</label>
          <input type="checkbox" name="vista_mar" value="<%= element.vista_mar %>" required="true">
        </div>
        <div class="">
          <label for="">precio</label>
          <input type="" name="precio" value="<%= element.precio %>" required="true">
        </div>
      <button type="submit">Update habitacion</button>
    </form>
    <br />
    <a href="/habitacion">Index</a>
  </div>
</div>