<h1>habitacion</h1>


<% if (result.length == 0) { %>
  <h4>
    0 habitacion
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>id_habitacion</th>
			<th>disponibilidad</th>
			<th>numero_piso</th>
			<th>jacuzzi</th>
			<th>vista_mar</th>
			<th>precio</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.id_habitacion %>
					</td>
					<td>
						<%= item.disponibilidad %>
					</td>
					<td>
						<%= item.numero_piso %>
					</td>
					<td>
						<%= item.jacuzzi %>
					</td>
					<td>
						<%= item.vista_mar %>
					</td>
					<td>
						<%= item.precio %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/habitacion/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/habitacion/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/habitacion/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/habitacion/create">New</a>