<h1>Show habitacion</h1>

	<p>
		<strong>numero_piso:</strong>
		<%= element.numero_piso %>
	</p>
	<p>
		<strong>jacuzzi:</strong>
		<%= element.jacuzzi %>
	</p>
	<p>
		<strong>vista_mar:</strong>
		<%= element.vista_mar %>
	</p>
	<p>
		<strong>precio:</strong>
		<%= element.precio %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>Habitaciones:</strong>
		<%= element.habitaciones.Imet(0) %>
	</p>

<br>
<a href="/habitacion/edit/<%= element.id %>">Edit</a>
<a href="/habitacion/create">New</a>
<a href="/habitacion">Back</a>
