<div class="">
  <h1>New cliente</h1>

  <div class="body">
    <form class="" action="/cliente/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">dni</label>
          <input type="" name="dni" value="<%= element.dni %>" required="true">
        </div>
        <div class="">
          <label for="">nombre_cliente</label>
          <input type="" name="nombre_cliente" value="<%= element.nombre_cliente %>" required="true">
        </div>
        <div class="">
          <label for="">correo</label>
          <input type="" name="correo" value="<%= element.correo %>" required="true">
        </div>
        <div class="">
          <label for="">telefono</label>
          <input type="" name="telefono" value="<%= element.telefono %>" required="true">
        </div>
        <div class="">
          <label for="">id</label>
          <input type="number" name="id" value="<%= element.id %>" required="false">
        </div>
      <button type="submit">Update cliente</button>
    </form>
    <br />
    <a href="/cliente">Index</a>
  </div>
</div>