<h1>tipoHabitacion</h1>


<% if (result.length == 0) { %>
  <h4>
    0 tipoHabitacion
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>id_tipo_habitacion</th>
			<th>numero_camas</th>
			<th>costo</th>
			<th>descripcion</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.id_tipo_habitacion %>
					</td>
					<td>
						<%= item.numero_camas %>
					</td>
					<td>
						<%= item.costo %>
					</td>
					<td>
						<%= item.descripcion %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/tipoHabitacion/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/tipoHabitacion/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/tipoHabitacion/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/tipoHabitacion/create">New</a>