<h1>Show tipoHabitacion</h1>

	<p>
		<strong>id_tipo_habitacion:</strong>
		<%= element.id_tipo_habitacion %>
	</p>
	<p>
		<strong>numero_camas:</strong>
		<%= element.numero_camas %>
	</p>
	<p>
		<strong>costo:</strong>
		<%= element.costo %>
	</p>
	<p>
		<strong>descripcion:</strong>
		<%= element.descripcion %>
	</p>

<br>
<a href="/tipoHabitacion/edit/<%= element.id %>">Edit</a>
<a href="/tipoHabitacion/create">New</a>
<a href="/tipoHabitacion">Back</a>
