<h1>servicio</h1>


<% if (result.length == 0) { %>
  <h4>
    0 servicio
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>id_servicio</th>
			<th>desayuno</th>
			<th>parqueadero</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.id_servicio %>
					</td>
					<td>
						<%= item.desayuno %>
					</td>
					<td>
						<%= item.parqueadero %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/servicio/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/servicio/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/servicio/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/servicio/create">New</a>