<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4>Total huespedes</h4>
    </div>
    <div class="col-sm-6">
      <h4><%= num_huespedes %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h4>Entrada</h4>
    </div>
    <div class="col-sm-6">
      <h4><%= fecha_inicio %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h4>Salida</h4>
    </div>
    <div class="col-sm-6">
      <h4><%= fecha_fin %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h4>Total habitaciones</h4>
    </div>
    <div class="col-sm-6">
      <h4><%= id_hab.length %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h4>Total costo</h4>
    </div>
    <div class="col-sm-6">
      <h4><%= costo_total %></h4>
    </div>
  </div>

</div>
