<h1>Reserva</h1>


<% if (result.length == 0) { %>
    <h4>
    0 reserva
  </h4>
    <% } else { %>
        <div class="table-responsive" style="color:white">
            <table class="table table-bordered ">
                <thead class="opaque1">
                <th>#</th>
                <th>Fecha de Inicio</th>
                <th>Fecha Fin</th>
                <th>Desauno</th>
                <th>Costo Total</th>
                <th colspan="3"></th>
            </thead>

            <tbody class="opaque1">
                <% result.forEach((item, i) => { %>
                    <% if (item.id_cliente == session.credencialSegura) { %>
                    <tr>
                        <td>
                            <%= (i + 1) %>
                        </td>
                        <td>
                            <%= item.fecha_inicio %>
                        </td>
                        <td>
                            <%= item.fecha_fin %>
                        </td>
                        <td>
                            <% if( item.desayuno ){ %>
                            Si
                           <% }else{ %>
                            No
                           <% } %>
                        </td>
                        <td>
                            <%= item.costo_total %>
                        </td>
                       

                        <td>
                            <a href="/reserva/show/<%= item.id %>">Show</a>
                        </td>
                        <td>
                            <a href="/reserva/delete/<%= item.id %>">Delete</a>
                        </td>
                    </tr>
                     <% } %>
                    <% }) %>
            </tbody>
        </table>
        </div>
        <% } %>

            <br>