<% if (!session.credencialSegura) { %>
    <script>
        window.location.href = "/"
    </script>
    <% } %>
   <div class="container opaque1">
    <h1> Resumen Reserva </h1>
    <h3>Poner un mensaje para que revisen si es lo que en verdad quieren </h3>
    <h3>Detalles</h3>
    <form>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Fecha de entrada:</div>
            <div class="col-sm-4" >
                <label id="fechaInicio"><%= fecha_inicio %></label>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Fecha de salida:</div>
            <div class="col-sm-4" >
                <label id="fechaFin"><%= fecha_fin %></label>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Días:</div>
            <div class="col-sm-4" id="numeroDias">
                <%= total_dias%>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Total Habitaciones:</div>
            <div class="col-sm-4" >
                <%= id_hab.length%>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Número de Huéspedes:</div>
            <div class="col-sm-4" id="numeroHuespedes">
                <%= num_huespedes%>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Desea desayuno?</div>
            <div class="form-check col-sm-4">
                <input class="form-check-input" type="checkbox" name="desayuno" id="desayuno" onchange='handleChange(this);'>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Total:</div>
            <div class="col-sm-4" id="total">
                <%= costo_total%>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-lg" align="center">Reservar</button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-2"></div>
        </div>
        <br>
    </form>
</div>
