<div class="container opaque1">
    <h2>Prince of Persia Palace</h2>

    <div class="jumbotron" style="color:black">
        <h1> Resumen Reserva </h1>
        <h3>Poner un mensaje para que revisen si es lo que en verdad quieren </h3>
        <h3>Detalles</h3>
        <pre>

    <div class="row">
    <div class="col-sm-6">Fecha de entrada:</div>
    <div class="col-sm-6"><%= fecha_inicio %></div>
    </div>

    <div class="row">
    <div class="col-sm-6">Fecha de salida:</div>
    <div class="col-sm-6"><%= fecha_fin %></div>
    </div>
    <div class="row">

      <div class="row">
  <div class="col-sm-6">Número de Huéspedes:</div>
  <div class="col-sm-6"><%= num_huespedes %></div>
  </div>

<!-- <div class="col-sm-6">Desayuno:</div>
  </div> -->

  <div class="row">
  <div class="col-sm-6">Total de habitaciones:</div>
  <div class="col-sm-6"><%= id_hab.length %></div>
  </div>

  <div class="row">
  <div class="col-sm-6">Costo total:</div>
  <div class="col-sm-6"><%= costo_total %></div>
  </div>

  </pre>

    </div>
</div>
