<h1>Show reserva</h1>

	<p>
		<strong>id_cliente:</strong>
		<%= element.id_cliente %>
	</p>
	<p>
		<strong>fecha_inicio:</strong>
		<%= element.fecha_inicio %>
	</p>
	<p>
		<strong>fecha_fin:</strong>
		<%= element.fecha_fin %>
	</p>
	<p>
		<strong>desayuno:</strong>
		<%= element.desayuno %>
	</p>
	<p>
		<strong>costo_total:</strong>
		<%= element.costo_total %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	

<br>
<a href="/reserva/edit/<%= element.id %>">Edit</a>
<a href="/reserva/create">New</a>
<a href="/reserva">Back</a>
