<div class="">
  <h1>New huesped</h1>

  <div class="body">
    <form class="" action="/huesped/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">nombre_huesped</label>
          <input type="" name="nombre_huesped" value="<%= element.nombre_huesped %>" required="true">
        </div>
        <div class="">
          <label for="">dni</label>
          <input type="" name="dni" value="<%= element.dni %>" required="true">
        </div>
        <div class="">
          <label for="">id_reserva</label>
          <input type="number" name="id_reserva" value="<%= element.id_reserva %>" required="true">
        </div>
        <div class="">
          <label for="">id</label>
          <input type="number" name="id" value="<%= element.id %>" required="false">
        </div>
      <button type="submit">Update huesped</button>
    </form>
    <br />
    <a href="/huesped">Index</a>
  </div>
</div>