<h1>Show huesped</h1>

	<p>
		<strong>nombre_huesped:</strong>
		<%= element.nombre_huesped %>
	</p>
	<p>
		<strong>dni:</strong>
		<%= element.dni %>
	</p>
	<p>
		<strong>id_reserva:</strong>
		<%= element.id_reserva %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>

<br>
<a href="/huesped/edit/<%= element.id %>">Edit</a>
<a href="/huesped/create">New</a>
<a href="/huesped">Back</a>
